#### Preseed for unattended Debian 13/testing installation

### Hostname dynamisch setzen (deb-YYYYMMDD-HHMM)
d-i preseed/early_command string \
    debconf-set netcfg/get_hostname "deb-$(date +%Y%m%d-%H%M)"

### Erste Festplatte automatisch erkennen
d-i partman/early_command string \
    debconf-set partman-auto/disk "$(list-devices disk | head -n1)"

### Localization
d-i debian-installer/locale string en_US.UTF-8
d-i debian-installer/language string en
d-i debian-installer/country string DE
d-i keyboard-configuration/xkb-keymap select de
d-i keyboard-configuration/toggle select No toggling

### Network (DHCP)
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string local
d-i netcfg/wireless_wep string

### Mirror
d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Account setup
d-i passwd/root-password password unattended
d-i passwd/root-password-again password unattended
d-i passwd/make-user boolean false

### Clock
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Berlin
d-i clock-setup/ntp boolean true

### Partitioning (LVM, automatische Festplattenerkennung)
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string vg0
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true

### CD-ROM scan ueberspringen
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false
d-i apt-setup/cdrom/set-failed boolean false

### Firmware
d-i hw-detect/load_firmware boolean true

### Packages
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string openssh-server vim htop curl wget
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false

### Boot loader
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

### Finish
d-i finish-install/reboot_in_progress note

### Root-SSH mit Passwort aktivieren
d-i preseed/late_command string \
    in-target sh -c 'echo PermitRootLogin yes > /etc/ssh/sshd_config.d/allow-root.conf && echo PasswordAuthentication yes >> /etc/ssh/sshd_config.d/allow-root.conf'
